# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* overview of the data scientist's tool kit, which includes libraries and packages, data sets, machine learning, kernels and others
* overview of open source & commercial big data and cloud-based tools
* Learning how to use Jupyter Notebooks, RStudio and GitHub
* Getting hands on experience with these tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebooks|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Martin